name: CI/CD - MAIN
on:
  workflow_dispatch:
  pull_request:
    branches:
      - 'main'
jobs:
  Reuse:
    runs-on: self-hosted
    steps:
      - uses: nareshgdevops/learn-github-actions/.github/workflows/CI-reusable.yml@main
